.primary-content {
  @extend %content;
  @extend %centered;
  @extend %t-border;
  padding-bottom: 95px;
  padding-top: 25px;

  @media #{$brk-wide} {
    width: 90%;
  }

  @media #{$brk-narrow} {
    border-top: 0;
    padding: 20px;
    width: 100%;
  }
}

.secondary-content {
  @extend %content;
  @extend %t-border;
  @extend %clearfix;
  border-bottom: 2px solid $color-border-light;
  padding-bottom: 70px;
  padding-top: 80px;

  @media #{$brk-wide} {
    width: 90%;
  }

  @media #{$brk-narrow} {
    border-top: 0;
    padding: 20px;
    width: 100%;
  }
}

.wildlife {
  background: $river-bed url('#{$path-img}/bear.jpg') no-repeat center;
  background-size: cover;
  border-radius: $br;
  border-top: 10px solid $color-border-dark;
  box-shadow: inset 0 0 50px 10px rgba($white, .8);
  color: $white;
  margin: 105px 0 60px;
  padding: 18% 24%;
  text-align: left;

  @media #{$brk-wide} {
    margin: 50px 0 20px;
    padding: 10% 12%;
  }
}
