.primary-content {
  @extend %content;
  @extend %centered;
  @extend %t-border;
  padding-bottom: 95px;
  padding-top: 25px;
}

.secondary-content {
  @extend %content;
  @extend %t-border;
  @extend %clearfix;
  border-bottom: 2px solid #dfe2e6;
  padding-bottom: 70px;
  padding-top: 80px;
}

.wildlife {
  background: #434a52 url('../img/bear.jpg') no-repeat center;
  background-size: cover;
  border-radius: 10px;
  border-top: 10px solid #ffa949;
  box-shadow: inset 0 0 50px 10px rgba(0, 0, 0, .8);
  color: #fff;
  margin: 105px 0 60px;
  padding: 18% 24%;
  text-align: left; }
