.primary-content {
  @extend %content;
  @extend %centered;
  @extend %t-border;
  padding-bottom: 95px;
  padding-top: 25px;
}

.secondary-content {
  @extend %content;
  @extend %t-border;
  @extend %clearfix;
  border-bottom: 2px solid $color-border-light;
  padding-bottom: 70px;
  padding-top: 80px;
}

.wildlife {
  background: $river-bed url('#{$path-img}/bear.jpg') no-repeat center;
  background-size: cover;
  border-radius: $br;
  border-top: 10px solid $color-border-dark;
  box-shadow: inset 0 0 50px 10px rgba($white, .8);
  color: $white;
  margin: 105px 0 60px;
  padding: 18% 24%;
  text-align: left; }
