.main-header {
  @extend %centered;
  background: linear-gradient($color-prim, transparent 90%),
              linear-gradient(0deg, $color-body, transparent),
              $color-prim url('#{$path-img}/mountains.jpg') no-repeat center;
  background-size: cover;
  color: $color-body;
  height: 850px;
  padding-top: 170px; }
